@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@model IEnumerable<MannsBlog.Services.DataProviders.Video>
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/video.jpg";

    var culture = CultureInfo.CurrentCulture.Name;
    string videotarget = String.Empty;
    videotarget = culture == "de-DE" ? "video-de" : "video";

    bool isDevelopment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development";
    string cleanedtarget = String.Empty;
    if (isDevelopment)
    {
        cleanedtarget = videotarget + ".js";
    }
    else
    {
        cleanedtarget = videotarget + ".min.js";
    }
}
@section scripts {
    <environment names="Development">
        <script src="~/js/@cleanedtarget"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/js/@cleanedtarget"></script>
    </environment>

}
<div class="row">
    @foreach (var v in Model)
    {
        <div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="float-right"><small>@_localizer["published"]: @v.DatePublished.ToString("D")</small></div>
            <h4>@v.Title</h4>
            <p class="card-text">@v.Description</p>
            <button class="btn btn-outline-primary pull-right video-toggle" data-id="@v.Id">@_localizer["show-video"]</button>
            <a class="btn btn-primary pull-right" asp-controller="Videos" asp-action="Video" asp-route-id="@v.Id" target="_blank" role="button">@_localizer["show-tab"]</a>

            <div class="video-container collapse" id="video-@v.Id">
                <partial name="_VideoFrame" model="v" />
            </div>
            <hr />
        </div>
    }
</div>