@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@model IEnumerable<MannsBlog.Services.DataProviders.Video>
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/video.jpg";

    var culture = CultureInfo.CurrentCulture.Name;
    string videotarget = String.Empty;
    videotarget = culture == "de-DE" ? "video-de" : "video";

    bool isDevelopment = false;
    if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
    {
        isDevelopment = true;
    }

    string cleanedtarget = String.Empty;
    if (isDevelopment)
    {
        cleanedtarget = videotarget + ".js";
    }
    else
    {
        cleanedtarget = videotarget + ".min.js";
    }
}
@section Scripts {
    <environment names="Development">
        <script src="~/js/@cleanedtarget"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/js/@cleanedtarget"></script>
    </environment>

}
<div class="row">
    @foreach (var v in Model)
    {
        <div tabindex="0" class="e-card" id="@v.Id">
            <div class="card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title font-gray"><h4 class="font-gray">@v.Title</h4></div>
                </div>
            </div>
            <div class="e-card-content font-gray">
                <div class="card-text font-gray"><small>@_localizer["published"]: @v.DatePublished.ToString("D")</small></div>
                <p class="card-text font-gray">@v.Description</p>
                <div class="collapse video-container" id="video-@v.Id">
                    <partial name="_VideoFrame" model="v" />
                </div>
                <div class="e-card-actions">
                    <button class="btn btn-primary pull-right video-toggle" data-id="@v.Id">@_localizer["show-video"]</button>
                    <a class="btn btn-outline-primary pull-right" asp-controller="Videos" asp-action="Video" asp-route-id="@v.Id" target="_blank" role="button">@_localizer["show-tab"]</a>
                </div>
            </div>
        </div>
    }
</div>