@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@*@inject MannsBlog.Services.DataProviders.CalendarProvider appearances*@
@inject MannsBlog.Services.DataProviders.PublicationProvider _pubs
@inject IViewLocalizer _localizer

@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";
}
@section scripts {
    <script src="~/lib/lodash/lodash.js"></script>
}
<div class="row">
    <div class="col-lg-3 hidden-sm-down">
        <img src="~/img/me/Sascha1.jpg" class="img-fluid img-rounded" alt="Sascha Manns" />
    </div>
    <div class="col-lg-9 col-sm-12 col-xs-12">
        <h3>Bio</h3>
        <p>@_localizer["bio"]</p>
        <p>@_localizer["bio1"]</p>
        <p>@_localizer["bio2"]</p>
        <p>@_localizer["bio3"]</p>
        <h4>@_localizer["connect"]</h4>
        <ul class="list-unstyled">
            <li><a href="mailto:Sascha.Manns@@outlook.de"><i class="fas fa-envelope"></i> Sascha.Manns@outlook.de</a></li>
            <li><a href="http://keyserver.ubuntu.com/pks/lookup?search=83750b413dce232eb3340447b28b6b1b27102983&fingerprint=on&op=index" target="_blank"><i class="fas fa-lock"></i> 0x83750b413dce232eb3340447b28b6b1b27102983</a></li>
            <li><a href="https://twitter.com/saigkill" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/sascha.manns" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></li>
            <li><a href="https://instagram.com/sascha.manns" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/saigkill/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://www.amazon.de/-/e/B07J3CPKR1" target="_blank"><i class="fab fa-amazon"></i> @_localizer["amazon-page"]</a></li>
            <li><a href="skype:schurik0815"><i class="fab fa-skype"></i> Skype</a></li>
            <li><a href="https://www.xing.com/profile/SaschaZyroslawKyrill_Manns/cv" target="_blank"><i class="fab fa-xing-square"></i> XING</a></li>
            <li><a href="https://www.last.fm/user/illuminatus1979" target="_blank"><i class="fab fa-lastfm-square"></i> Last.fm</a></li>
            <li><a href="https://dev.to/saigkill" title="Dev.to Community"><i class="fab fa-dev"></i> Dev.to</a></li>
            <li><a href="https://www.reddit.com/user/saigkill"><i class="fab fa-reddit-square"></i> Reddit</a></li>
            <li><a href="https://discord.com/channels/@@saigkill001#3216" target="_blank"><i class="fab fa-discord"></i> Discord</a></li>
            <li><img src="~/img/social/element-matrix.png" alt="" class="alignnone size-medium wp-image-86" width="20" height="20"> Matrix: @@saigkill0:matrix.org</li>
            <li><a rel="me" href="https://social.linux.pizza/@@saigkill" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a></li>
            <li><a href="https://steamcommunity.com/id/saigkill/"><i class="fab fa-steam-square"></i> Steam</a></li>
        </ul>
        <h4>@_localizer["coding-activity"]</h4>
        <ul class="list-unstyled">
            <li><img src="~/img/social/openhub.png" alt="" class="alignnone size-medium wp-image-86" width="20" height="20"><a href="https://openhub.net/accounts/saigkill" target="_blank"> OpenHub</a></li>
            <li><img src="~/img/social/codestats.png" alt="" class="alignnone size-medium wp-image-86" width="20" height="20" /><a href="https://codestats.net/users/saigkill" target="_blank"> Codestats</a></li>
            <li><a href="https://profile.codersrank.io/user/saigkill" target="_blank"><i class="fas fa-code"></i> Codersrank</a></li>
            <li><img src="~/img/social/codeproject.png" class="alignnone size-medium wp-image-86" width="20" height="20" /><a href="https://www.codeproject.com/Members/SaschaManns" target="_blank"> Codeproject</a></li>
            <li><a href="https://rubygems.org/profiles/saigkill" target="_blank"><i class="far fa-gem"></i> Rubygems</a></li>
            <li><a href="https://github.com/saigkill" target="_blank"><i class="fab fa-github-square"></i> GitHub</a></li>
            <li><a href="https://stackoverflow.com/users/7404985/sascha-manns" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a></li>
        </ul>
        <h4>@_localizer["supporter"]</h4>
        <div id="besupporter">
            <ul class="list-unstyled">
                <li><a target="_blank" href="https://www.buymeacoffee.com/PE0y8DF"><img src="~/img/badges/buymeacoffee.jpg" alt="Buy me a coffee" width="12%"></a></li>
                <li><a href="https://www.amazon.de/registry/wishlist/D75HOEQ00BDD"><img src="~/img/badges/amazon.svg" width="12%" style="margin-top: 10px" /></a></li>
                <li><a href="https://paypal.me/SaschaManns" target="_blank"><img src="~/img/badges/paypal_donate.svg" width="12%" style="margin-right: 5px; margin-top: 10px" /></a></li>
                <li><a href="https://www.patreon.com/saigkill"><img src="~/img/badges/patreon.svg" width="12%" style="margin-top: 10px" /></a></li>
                <li><a href="https://liberapay.com/saigkill/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg" style="margin-top: 10px"></a></li>
                <li><a href="https://www.syncfusion.com"><img src="https://cdn.syncfusion.com/content/images/Logo/Logo_150dpi.png"</a></li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <h4 class="center-text">@_localizer["publications"]</h4>
        @foreach (var pub in _pubs.Get())
        {
            <div tabindex="0" class="e-card" id="basic">
                <div class="card-header">
                    <div class="e-card-header-caption">
                        <h4 class="card-subtitle"><a href="@pub.Link" target="_blank">@pub.Title</a></h4>
                    </div>
                </div>
                <div class="e-card-content">

                    <div class="card-text"><small>@pub.Comments</small></div>
                    <div class="card-text"><small>@pub.PublicationName - @pub.Publisher</small></div>
                    @if (!string.IsNullOrWhiteSpace(pub.Identifier))
                    {
                        <div class="muted"><small>@pub.Identifier, @_localizer["publisher-published"]: <time datetime="@pub.DatePublished">@pub.DatePublished</time></small></div>
                    }
                    else
                    {
                        <div class="muted"><small>@_localizer["publisher-published"]: @pub.DatePublished</small></div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6">
        <h4 class="center-text">@_localizer["opensource"]</h4>
        <div class="" id="openSourceList">
        </div>
        <style>
            .e-card {
                width: 550px;
                margin: auto;
            }
        </style>
    </div>
</div>