@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@*@inject MannsBlog.Services.DataProviders.CalendarProvider appearances*@
@inject MannsBlog.Services.DataProviders.PublicationProvider _pubs
@inject IViewLocalizer _localizer

@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";
}
@section scripts {
    <script src="~/lib/lodash/lodash.js"></script>
    <script src="~/js/about.js"></script>
}
@section styles {
    <style>
        .e-card {
            width: 550px;
            margin: auto;
            height: auto;
        }
    </style>
}

<div class="row">
    <div class="col-lg-3 hidden-sm-down">
        <img src="~/img/me/Sascha1.jpg" class="img-fluid img-rounded" alt="Sascha Manns" />
    </div>
    <div class="col-lg-9 col-sm-12 col-xs-12">
        <h3>Bio</h3>
        <p>@_localizer["bio"]</p>
        <p>@_localizer["bio1"]</p>
        <p>@_localizer["bio2"]</p>
        <p>@_localizer["bio3"]</p>
        <h4>@_localizer["connect"]</h4>
        <ul class="list-unstyled">
            <li><a href="mailto:Sascha.Manns@@outlook.de"><i class="fas fa-envelope"></i> Sascha.Manns@outlook.de</a></li>
            <li><a href="http://keyserver.ubuntu.com/pks/lookup?search=83750b413dce232eb3340447b28b6b1b27102983&fingerprint=on&op=index" target="_blank"><i class="fas fa-lock"></i> 0x83750b413dce232eb3340447b28b6b1b27102983</a></li>
            <li><a href="https://twitter.com/saigkill" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/sascha.manns" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></li>
            <li><a href="https://instagram.com/sascha.manns" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/saigkill/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://www.amazon.de/-/e/B07J3CPKR1" target="_blank"><i class="fab fa-amazon"></i> @_localizer["amazon-page"]</a></li>
            <li><a href="skype:schurik0815"><i class="fab fa-skype"></i> Skype</a></li>
            <li><a href="https://www.xing.com/profile/SaschaZyroslawKyrill_Manns/cv" target="_blank"><i class="fab fa-xing-square"></i> XING</a></li>
            <li><a href="https://www.last.fm/user/illuminatus1979" target="_blank"><i class="fab fa-lastfm-square"></i> Last.fm</a></li>
            <li><a href="https://dev.to/saigkill" title="Dev.to Community"><i class="fab fa-dev"></i> Dev.to</a></li>
            <li><a href="https://www.reddit.com/user/saigkill"><i class="fab fa-reddit-square"></i> Reddit</a></li>
            <li><a href="https://discord.com/channels/@@saigkill001#3216" target="_blank"><i class="fab fa-discord"></i> Discord</a></li>
            <li><img src="~/img/social/element-matrix.png" alt="" class="alignnone size-medium wp-image-86" width="20" height="20"> Matrix: @@saigkill0:matrix.org</li>
            <li><a rel="me" href="https://social.linux.pizza/@@saigkill" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a></li>
            <li><a href="https://steamcommunity.com/id/saigkill/"><i class="fab fa-steam-square"></i> Steam</a></li>
        </ul>
        <hr />
        <h4>@_localizer["coding-activity"]</h4>
        <ul class="list-unstyled">
            <li><img src="~/img/social/openhub.png" alt="" class="alignnone size-medium wp-image-86" width="20" height="20"><a href="https://openhub.net/accounts/saigkill" target="_blank"> OpenHub</a></li>
            <li><img src="~/img/social/codestats.png" alt="" class="alignnone size-medium wp-image-86" width="20" height="20" /><a href="https://codestats.net/users/saigkill" target="_blank"> Codestats</a></li>
            <li><a href="https://profile.codersrank.io/user/saigkill" target="_blank"><i class="fas fa-code"></i> Codersrank</a></li>
            <li><img src="~/img/social/codeproject.png" class="alignnone size-medium wp-image-86" width="20" height="20" /><a href="https://www.codeproject.com/Members/SaschaManns" target="_blank"> Codeproject</a></li>
            <li><a href="https://rubygems.org/profiles/saigkill" target="_blank"><i class="far fa-gem"></i> Rubygems</a></li>
            <li><a href="https://github.com/saigkill" target="_blank"><i class="fab fa-github-square"></i> GitHub</a></li>
            <li><a href="https://stackoverflow.com/users/7404985/sascha-manns" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a></li>
        </ul>
        <hr />
        <h4>@_localizer["supporter"]</h4>
        <div id="besupporter">
            <ul class="list-unstyled">
                <li><a target="_blank" href="https://www.buymeacoffee.com/PE0y8DF"><img src="~/img/badges/buymeacoffee.jpg" alt="Buy me a coffee" width="12%"></a></li>
                <li><a href="https://www.amazon.de/registry/wishlist/D75HOEQ00BDD"><img src="~/img/badges/amazon.svg" width="12%" style="margin-top: 10px" /></a></li>
                <li><a href="https://paypal.me/SaschaManns" target="_blank"><img src="~/img/badges/paypal_donate.svg" width="12%" style="margin-right: 5px; margin-top: 10px" /></a></li>
                <li><a href="https://www.patreon.com/saigkill"><img src="~/img/badges/patreon.svg" width="12%" style="margin-top: 10px" /></a></li>
                <li><a href="https://liberapay.com/saigkill/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg" style="margin-top: 10px"></a></li>
            </ul>
        </div>
        <hr />
        <h4>@_localizer["supporter-company"]</h4>
        <p>@_localizer["supporter-company-thx"]</p>
        <div id="supporter-company">
            <ul class="list-unstyled">
                <li><a target="_blank" href="https://www.advancedinstaller.com/"><img src="~/img/supporters/advanced_installer_vertical_20.png" width="30%" /></a></li>
                <li><a target="_blank" class="additional-space" href="http://www.innovasys.com/"><img src="~/img/supporters/Innovasys.png" class="additional-space" width="30%" style="margin-left: -0px;" /></a></li>
                <li><a target="_blank" class="additional-space" href="https://www.jetbrains.com/"><img src="~/img/supporters/jetbrains.png" class="additional-space" width="20%" /></a></li>
                <li><a target="_blank" class="additional-space" href="https://www.oxygenxml.com/"><img src="~/img/supporters/oxygen-xml-editor.jpg" class="additional-space" width="30%" /></a></li>
                <li><a target="_blank" class="additional-space" href="https://www.renderx.com/"><img src="~/img/supporters/renderx.png" width="20%" class="additional-space" style="margin-left: -0px;" /></a></li>
                <li><a target="_blank" class="additional-space" href="https://www.syncfusion.com/"><img src="~/img/supporters/syncfusion.jpeg" class="additional-space" width="30%" /></a></li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <h4 class="center-text">@_localizer["publications"]</h4>
        @foreach (var pub in _pubs.Get())
        {
            <div tabindex="0" class="e-card" id="@pub.Id">
                <div class="card-header">
                    <div class="e-card-header-caption">
                        <h4 class="card-subtitle font-gray"><a href="@pub.Link" target="_blank" class="font-gray">@pub.Title</a></h4>
                    </div>
                </div>
                <div class="e-card-content">

                    <div class="card-text font-gray"><small>@pub.Comments</small></div>
                    <div class="card-text font-gray"><small>@pub.PublicationName - @pub.Publisher</small></div>
                    @if (!string.IsNullOrWhiteSpace(pub.Identifier))
                    {
                        <div class="muted font-gray"><small>@pub.Identifier, @_localizer["publisher-published"]: <time datetime="@pub.DatePublished">@pub.DatePublished</time></small></div>
                    }
                    else
                    {
                        <div class="muted font-gray"><small>@_localizer["publisher-published"]: @pub.DatePublished</small></div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6">
        <h4 class="center-text">@_localizer["opensource"]</h4>
        <div class="" id="openSourceList">
        </div>
    </div>
</div>