@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@inject MannsBlog.Services.DataProviders.CalendarProvider _appearances
@{
    ViewBag.Title = $"Upcoming Events - Sascha Manns";
    ViewBag.PageName = "Upcoming Events";
    ViewBag.PageImage = "/img/headers/code.jpg";
}

<div class="row">
    @foreach (var ap in _appearances.Get().Where(e => e.EventDate.AddDays(e.Length - 1) >= DateTime.Today))
    {
        <div class="col-8 offset-2">
            <div style="min-height: 100px;">
                @if (!string.IsNullOrWhiteSpace(ap.Logo))
                {
                    <a href="@ap.Link"><img src="@ap.Logo" alt="@ap.EventName" class="pull-right img-fluid calendar-logo @(ap.ReverseLogo ? "reverse" : "")" /></a>
                }
                <h3><a href="@ap.Link" target="_blank">@ap.EventName</a></h3>
                <div>@ap.Location - @ap.FormattedDate</div>
                @if (!string.IsNullOrWhiteSpace(ap.Note))
                {
                    <div class="text-muted small">@ap.Note</div>
                }
            </div>
            <hr class="hr" />
        </div>
    }
</div>