@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject MannsBlog.Services.DataProviders.PublicationProvider _pubs
@inject IViewLocalizer _localizer

@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";

    int age = DateTime.Now.Year - 1979;
    int experience = DateTime.Now.Year - 2001;
}
@section scripts {

}
@section styles {
    <style>
        .e-card {
            width: 100px;
        }
    </style>
}
<h1>@_localizer["viewbag-pagename"]</h1>

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <p class="lead mt-4 mb-5">@_localizer["masterhead-lead"].</p>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section">
    <div class="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <h3 class="text-uppercase">@_localizer["about-name"] <span class="text-primary">Sascha Manns.</span> @_localizer["about-jobs"] @age @_localizer["about-year"] <br /> <span id="replaceJobs"></span></h3>
                    <div class="mt-5 pt-2">
                        <p>@_localizer["about-program"]</p>
                        <div class="">
                            <div tabindex="0" class="e-card" id="basic">
                                <div class="e-card-content">
                                    <div class="col-md-8">
                                        <div class="font-gray"><span class="">@experience</span></div><div class="font-gray">@_localizer["about-year1"]<br> @_localizer["about-experience"]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-2 offset-md-1 mt-4">
                    <codersrank-summary username="saigkill" layout="vertical"></codersrank-summary>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<!-- Skills -->
<section id="skills" class="section">
    <h1>@_localizer["skills-title"]</h1>
    <div class="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <codersrank-skills-chart username="saigkill"
                                             labels
                                             legend
                                             tooltip></codersrank-skills-chart>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-2 offset-md-1 mt-4">
                    <h6>.NET Framework/C#/Visual Basic.NET/Windows Forms</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h6 class="pt-2">.NET Core/MVC/EF/WPF/WinUI3,C#</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="pt-2">HTML5/JS/CSS/Node.js</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h6 class="pt-2">MS-SQL/MySQL</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="pt-2">Intersystems Cachè/M-Code</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <p>@_localizer["about-other-skills"] API (SOAP & REST), JSON, XML, Wordpress, SCRUM, Git, Linux, Windows, Apache httpd/Tomcat, Azure, Azure DevOps, OOP, Swagger, Visual Basic, Visual Studio</p>
            </div>
        </div>
    </div>
</section>

<hr />

<!-- Activity -->
<section id="jobs" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["activity-title"]</h1>
            <codersrank-activity username="saigkill" labels legend tooltip></codersrank-activity>
        </div>
    </div>
</section>

<hr />

<!-- Jobs -->
<section id="jobs" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["jobs-title"]</h1>
            <codersrank-work-experience username="saigkill" logos grid></codersrank-work-experience>
        </div>
    </div>
</section>

<hr />

<!-- Education -->
<section id="education" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["education-title"]</h1>
            <codersrank-education username="saigkill" grid education certificates certificates-link education-section-title="Education" certificates-section-title="Certificates"></codersrank-education>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section id="portfolio" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["portfolio-title"]</h1>
            <codersrank-portfolio username="saigkill" grid dates logos></codersrank-portfolio>
        </div>
    </div>
</section>