@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject MannsBlog.Services.DataProviders.PublicationProvider _pubs
@inject MannsBlog.Services.DataProviders.CertsProvider _certs
@inject IViewLocalizer _localizer
@model MannsBlog.Views.Root.CurriculumVitaeModel
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";

    int age = DateTime.Now.Year - 1979;
    int experience = DateTime.Now.Year - 2001;
}
@section scripts {

}
@section styles {
    <style>
        .e-card {
            width: 100px;
        }

        .default-carousel-section .carousel-sample {
            margin: 0 auto 2em;
            max-width: 500px;
            height: 300px;
        }

        .default-carousel .e-carousel-items .e-carousel-item .img-container {
            height: 100%;
        }

        .default-carousel .e-carousel-items .e-carousel-item .img-caption {
            bottom: 4em;
            color: #fff;
            font-size: 12pt;
            height: 2em;
            position: relative;
            padding: 0.3em 1em;
            text-align: center;
            width: 100%;
        }
    </style>
}

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <p class="lead mt-4 mb-5">@_localizer["masterhead-lead"].</p>
            </div>
        </div>
    </div>
</section>

<hr />
<!-- About -->
<section id="about" class="section">
    <div class="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <h3 class="text-uppercase">@_localizer["about-name"] <span class="text-primary">Sascha Manns.</span> @_localizer["about-jobs"] @age @_localizer["about-year"] <br /> <span id="replaceJobs"></span></h3>
                    <div class="mt-5 pt-2">
                        <p>@_localizer["about-program"]</p>
                        <div class="">
                            <div tabindex="0" class="e-card" id="basic">
                                <div class="e-card-content">
                                    <div class="col-md-8">
                                        <div class="font-gray"><span class="">@experience</span></div><div class="font-gray">@_localizer["about-year1"]<br> @_localizer["about-experience"]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-2 offset-md-1 mt-4">
                    <codersrank-summary username="saigkill" layout="vertical"></codersrank-summary>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<!-- Skills -->
<section id="skills" class="section">
    <h1>@_localizer["skills-title"]</h1>
    <div class="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <codersrank-skills-chart username="saigkill"
                                             labels
                                             legend
                                             tooltip></codersrank-skills-chart>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-2 offset-md-1 mt-4">
                    <h6>.NET Framework/C#/Visual Basic.NET/Windows Forms</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h6 class="pt-2">.NET Core/MVC/EF/WPF/WinUI3,C#</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="pt-2">HTML5/JS/CSS/Node.js</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h6 class="pt-2">MS-SQL/MySQL</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="pt-2">API (SOAP & REST)</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <p>@_localizer["about-other-skills"] JSON, XML, Wordpress, SCRUM, Git, Linux, Windows, Apache httpd/Tomcat, Azure, Azure DevOps, OOP, Swagger, Visual Basic, Visual Studio, Syncfusion Controls, DevExpress Controls.</p>
            </div>
        </div>
    </div>
</section>

<hr />

<!-- Activity -->
<section id="activity" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["activity-title"]</h1>
            <codersrank-activity username="saigkill" labels legend tooltip></codersrank-activity>
        </div>
    </div>
</section>

<hr />

<!-- Jobs -->
<section id="jobs" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["jobs-title"]</h1>
            <codersrank-work-experience username="saigkill" logos grid></codersrank-work-experience>
        </div>
    </div>
</section>

<hr />

<!-- Education -->
<section id="education" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["education-title"]</h1>
            <codersrank-education username="saigkill" grid education certificates certificates-link education-section-title="Education" certificates-section-title="Certificates"></codersrank-education>
        </div>
    </div>
</section>

<hr />

<!-- Certs-->
@*<section id="certs" class="section">
    <div class="col-md-offset2 col-md-8">
        <div class="control-container">
            <ejs-carousel id="defaultCarousel" animationEffect="Fade">
                <e-carousel-items>
                    @foreach (var certificate in _certs.Get())
                    {
                        <e-carousel-item template='<div class="testimonial">
                        <div class="pic">
                            <img src="@certificate.LinkImg" alt="">
                        </div>
                    </div>'>
                                                    </e-carousel-item>
                    }
                </e-carousel-items>
            </ejs-carousel>
        </div>
    </div>
</section>*@

<!-- Portfolio -->
<section id="portfolio" class="section">
    <div class="intro">
        <div class="container">
            <h1>@_localizer["portfolio-title"]</h1>
            <codersrank-portfolio username="saigkill" grid dates logos></codersrank-portfolio>
        </div>
    </div>
</section>
