
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject MannsBlog.Services.DataProviders.PublicationsProvider _publications
@inject MannsBlog.Services.DataProviders.JobsProvider _jobs
@inject MannsBlog.Services.DataProviders.CertsProvider _certs
@inject MannsBlog.Services.DataProviders.TestimonialsProvider _testimonials
@inject MannsBlog.Services.DataProviders.ProjectsProvider _projects
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Sascha Manns's Twilight Zone";
    Layout = "_LayoutCV";
    int age = DateTime.Now.Year - 1979;
    int experience = DateTime.Now.Year - 2001;

}
<!--=========welcome_area=========-->
<div id="pagepiling">

    <!-- Masthead -->
    <section id="home" class="navbar-is-white text-white pp-scrollable d-flex align-items-center section position-absolute" style="background-image:url('img/cv/bg/personal33.jpg');" role="main">
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <h1 class="text-white"><span class="text-primary">Sascha</span> Manns.</h1>
                        <p class="lead mt-4 mb-5">@_localizer["masterhead-lead"].</p>
                        <!--<button type="button" class="btn" data-toggle="modal" data-target="#send-request">Let's talk</button>-->
                        <a class="btn" href="mailto:Sascha.Manns@@outlook.de?subject=I%20want%20you&amp;body=We%20want%20a%20beast%20like%20you">@_localizer["write-me"]</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about" class="section pp-scrollable d-flex align-items-center position-absolute">
        <div class="intro">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <h3 class="text-uppercase">@_localizer["about-name"] <span class="text-primary">Sascha Manns.</span> @_localizer["about-jobs"] @age @_localizer["about-year"] <br /> <span id="replaceJobs"></span></h3>
                        <div class="mt-5 pt-2">
                            <p>@_localizer["about-program"]</p>
                            <div class="mt-5 experience d-flex align-items-center">
                                <div class="experience-number v2"><span class="position-relative">@experience</span></div><div class="text-dark mt-3 ml-4">@_localizer["about-year1"]<br> @_localizer["about-experience"]</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 offset-lg-2 offset-md-1 mt-4">
                        <h6>.NET Framework/C#/Visual Basic.NET/Windows Forms</h6>
                        <div class="progress mb-5">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <h6 class="pt-2">.NET Core/MVC/EF/WPF</h6>
                        <div class="progress mb-5">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6 class="pt-2">HTML5/JS/CSS/Node.js</h6>
                        <div class="progress mb-5">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <h6 class="pt-2">MS-SQL/MySQL</h6>
                        <div class="progress mb-5">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6 class="pt-2">Intersystems Cachè/M-Code</h6>
                        <div class="progress mb-5">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 offset-lg-2 offset-md-1 mt-4">
                        <p>@_localizer["about-other-skills"] SOAP, REST, JSON, XML, Wordpress, SCRUM, Git, Linux, Windows, Joomla, Apache httpd/Tomcat, BPMN, UML, DocBook/XSL-FO, ITIL/SLA</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Video -->
    @*<section id="video" class="section pp-scrollable d-flex align-items-center position-absolute" style="background-image:url('@host/img/cv/bg/1920x1080-1.jpg');">
        <div class="intro">
        <div class="container">
        <div class="row align-items-center">
        <div class="col-md-6 col-lg-5">
        <h2 class="h1"><span class="text-primary">Watch</span><br>Video.</h2>
        <p class="lead mt-4 mb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
        <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="popup-youtube icon-video-play"></a>
        </div>
        </div>
        </div>
        </div>
        </section>*@

    <!-- Experience -->
    <section id="experience-jobs" class="section pp-scrollable d-flex align-items-center position-absolute">
        <div class="intro">
            <div class="container">
                <h2><span class="text-primary">@_localizer["experience-header"]</span></h2>
                <div class="mt-5 pt-5">
                    @foreach (var job in _jobs.Get())
                    {
                        <div class="row-experience row justify-content-between">
                            <div class="col-md-4">
                                <div class="h6 my-0 text-gray">@job.Years</div>
                                <h5 class="mt-2 text-primary text-uppercase">@job.Company</h5>
                            </div>
                            <div class="col-md-4">
                                <h5 class="mb-3 mt-0 text-uppercase">@job.Jobtitle</h5>
                            </div>
                            <div class="col-md-4">
                                <p>@job.Tasks</p>
                                <p>Stack: <i>@job.Stack</i></p>
                                @if (!string.IsNullOrWhiteSpace(job.Link))
                                {
                                    <a target="_blank" href="@job.Link" class="btn btn-ex-test">@_localizer["experience-cert-employment"]</a>
                                }
                            </div>
                        </div>
                    }
                    <a target="_blank" href="~/downloads/curriculum_vitae.pdf" class="btn btn-ex-test">@_localizer["experience-downloadcv"]</a>
                </div>
            </div>
        </div>
    </section>

    <section id="experience-certs" class="section pp-scrollable d-flex align-items-center position-absolute">
        <div class="intro">
            <div class="container">
                <h2><span class="text-primary">@_localizer["experience-header1"]</span></h2>
                <div class="mt-5 pt-5">
                    @foreach (var cert in _certs.Get())
                    {
                        <div class="row-experience row justify-content-between">
                            <div class="col-md-4">
                                <div class="h6 my-0 text-gray">@cert.Years</div>
                                <h5 class="mt-2 text-primary text-uppercase">@cert.Provider</h5>
                            </div>
                            <div class="col-md-4">
                                <h5 class="mb-3 mt-0 text-uppercase">@cert.Certtitle</h5>
                            </div>
                            <div class="col-md-4">
                                <p>@_localizer["experience-content"]: <i>@cert.Content</i></p>
                                @if (!string.IsNullOrWhiteSpace(cert.Link))
                                {
                                    <a target="_blank" href="@cert.Link" class="btn btn-ex-test">@_localizer["experience-certs"]</a>
                                }
                            </div>
                        </div>
                    }
                    <a target="_blank" href="~/downloads/curriculum_vitae.pdf" class="btn btn-ex-test">@_localizer["experience-downloadcv"]</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="services" class="navbar-is-white section pp-scrollable d-flex align-items-center position-absolute bg-dark">
        <div class="intro">
            <div class="container">
                <h2 class="text-white"><span class="text-primary">@_localizer["services-my"]</span> @_localizer["services-specialization"].</h2>
                <div class="mt-5 pt-5">
                    <div class="row">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <ion-icon class="text-white" name="phone-portrait-outline"></ion-icon>
                            <h6 class="text-white">@_localizer["services-app"]</h6>
                            <p>@_localizer["services-app-blurp"]</p>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <ion-icon class="text-white" name="earth-outline"></ion-icon>
                            <h6 class="text-white">@_localizer["services-web"]</h6>
                            <p>@_localizer["services-web-blurp"]</p>
                        </div>
                        <div class="col-md-4">
                            <ion-icon class="text-white" name="construct-outline"></ion-icon>
                            <h6 class="text-white">@_localizer["services-architect"]</h6>
                            <p>@_localizer["services-architect-blurp"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects -->
    <section id="projects" class="section pp-scrollable d-flex align-items-center position-absolute bg-light">
        <div class="intro">
            <div class="container">
                <h2><span class="text-primary">@_localizer["last"]</span> @_localizer["projects"].</h2>
                <div class="mt-5 pt-4">
                    <div class="carousel-project owl-carousel">
                        @foreach (var proj in _projects.Get())
                        {
                            <div class="project-item">
                                <a href="@proj.ProjectHref" class="popup-with-zoom-anim">
                                    <figure class="position-relative">
                                        <!-- 1140x641-->
                                        <img alt="" class="@proj.Width" src="@proj.Portfoliolink">
                                        <figcaption class="text-white">
                                            <h3 class="mb-2 text-white"><a href="@proj.ProjectLink">@proj.Projectname</a></h3>
                                        </figcaption>
                                    </figure>
                                </a>
                                <p>@proj.Goal</p>
                            </div>
                        }
                    </div>
                </div>
                <!--<h1>Github Calendar</h1>
                <div class="calendar">-->
                <!-- Loading stuff -->
                <!--Loading the data just for you.
                </div>-->
            </div>
        </div>
    </section>

    <!-- Partners -->
    @*<section id="partners" class="section pp-scrollable d-flex align-items-center position-absolute">
        <div class="intro">
        <div class="container">
        <h2><span class="text-primary">Best</span> Partners.</h2>
        <div class="mt-5 pt-5">
        <div class="row-partners row">
        <div class="col-partner col-md-6 col-lg-3 mb-5">
        <img src="@host/img/cv/partners/1.png">
        </div>
        <div class="col-partner col-md-6 col-lg-3 mb-5">
        <img src="@host/img/cv/partners/2.png">
        </div>
        <div class="col-partner col-md-6 col-lg-3 mb-5">
        <img src="@host/img/cv/partners/3.png">
        </div>
        <div class="col-partner col-md-6 col-lg-3 mb-5">
        <img src="@host/img/cv/partners/4.png">
        </div>
        <div class="col-partner col-md-6 col-lg-3 mb-5">
        <img src="@host/img/cv/partners/5.png">
        </div>
        <div class="col-partner col-md-6 col-lg-3">
        <img src="@host/img/cv/partners/6.png">
        </div>
        <div class="col-partner col-md-6 col-lg-3">
        <img src="@host/img/cv/partners/7.png">
        </div>
        <div class="col-partner col-md-6 col-lg-3">
        <img src="@host/img/cv/partners/8.png">
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>*@

    <!-- Testimonials -->
    <section id="testimonials" class="testimonials section">
        <div class="container">
            <h2><span class="text-primary">@_localizer["testimonials"]</span> @_localizer["testimonials-testimonial"].</h2>
            <div class="carousel-project owl-carousel">
                @foreach (var test in _testimonials.Get())
                {
                    <div class="col-testimonial" data-aos="fade-up">
                        <span class="quiote">"</span>
                        <p data-aos="fade-up">@test.Blurp</p>
                        <p class="mt-5 text-dark" data-aos="fade-up"><strong>@test.Recommender</strong> - @test.RecommenderJob, @test.RecommenderLocation</p>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- News -->
    @*<section id="news" class="section pp-scrollable d-flex position-absolute align-items-center bg-light">
        <div class="intro">
        <div class="container">
        <h2><span class="text-primary">Last</span> News.</h2>
        <div class="mt-5 pt-4">
        <div class="row-news row">
        <div class="col-news col-md-6 col-lg-4" data-aos="fade-in" data-aos-delay="0">
        <figure class="position-relative">
        <div class="position-relative">
        <a href=""><img alt="" class="w-100 d-block" src="@host/img/cv/news/640x520-1.jpg"></a>
        <mark class="date">12.03.2020</mark>
        </div>
        <figcaption>
        <h5><a href="">How to work from home</a></h5>On the other hand, we denounce with righteous...
        </figcaption>
        </figure>
        </div>
        <div class="col-news col-md-6 col-lg-4" data-aos="fade-in" data-aos-delay="100">
        <figure class="position-relative">
        <div class="position-relative"><!-- 640x520 -->
        <a href=""><img alt="" class="w-100 d-block" src="@host/img/cv/news/640x520-2.jpg"></a>
        <mark class="date">12.03.2020</mark>
        </div>
        <figcaption>
        <h5><a href="">Welcome to my page!</a></h5>
        There are many variations of passages of Lorem Ipsum  the...
        </figcaption>
        </figure>
        </div>
        <div class="col-news col-md-6 col-lg-4" data-aos="fade-in" data-aos-delay="200">
        <figure class="position-relative">
        <div class="position-relative">
        <a href=""><img alt="" class="w-100 d-block" src="@host/img/cv/news/640x520-3.jpg"></a>
        <mark class="date">12.03.2020</mark>
        </div>
        <figcaption>
        <h5><a href="">Business</a></h5>On the other hand, we denounce with righteous...
        </figcaption>
        </figure>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>*@

    <!-- Modal -->
    @*<div class="modal fade" id="send-request">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h2 class="modal-title mt-0">Send request</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <p>
        Leave your contacts and our managers
        will contact you soon.
        </p>
        <form class="form-request js-ajax-form">
        <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
        <input type="email" name="email" class="form-control" required="" placeholder="Email *">
        </div>
        <div class="form-group">
        <textarea rows="3" name="message" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="message" id="success-message">Your message is successfully sent...</div>
        <div class="message" id="error-message">Sorry something went wrong</div>
        <div class="form-group mb-0 text-right">
        <button type="submit" class="btn">Submit</button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>*@

    <!-- Project Modal Dialog 1 -->

    @foreach (var pro in _projects.Get())
    {
<div id="@pro.ProjectHrefTarget" class="container mfp-hide zoom-anim-dialog">
    <h2 class="mt-0">@pro.Projectname</h2>
    <div class="mt-5 pt-2 text-dark">
        <div class="row">
            <div class="mb-5 col-md-6 col-lg-3">
                <h6 class="my-0">Clients:</h6>
                <span>@pro.Clients</span>
            </div>
            <div class="mb-5 col-md-6 col-lg-3">
                <h6 class="my-0">Completion:</h6>
                <span>@pro.Completion</span>
            </div>
            <div class="mb-5 col-md-6 col-lg-3">
                <h6 class="my-0">Project Type:</h6>
                <span>@pro.ProjectType</span>
            </div>
            <div class="mb-5 col-md-6 col-lg-3">
                <h6 class="my-0">Authors</h6>
                <span>@pro.Authors</span>
            </div>
        </div>
        <div class="row">
            <div class="mb-5 col-md-6 col-lg-3">
                <h6 class="my-0">Goal</h6>
                <span>@pro.Goal</span>
            </div>
        </div>
    </div><!-- 1140x641 -->
    <img alt="" class="mt-5 pt-2 @pro.Width" src="@pro.Portfoliolink">
</div>
    }
</div>