@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
<!DOCTYPE html>
@model IEnumerable<dynamic>
@{
  Layout = null;
  var num = 0;
  var author = "saschamanns";
  if (this.Context.Request.Query["author"].Any())
  {
    author = this.Context.Request.Query["author"].First();
  }
}
<html>
<head>
  <meta name="viewport" @("content")="width=device-width" />
  <title></title>
  <!-- CSS -->
  <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="~/lib/tether/dist/css/tether.css" rel="stylesheet" />
  <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="~/css/site.min.css">
</head>
<body>
  <div class="container">
    <h3>Course Info:</h3>
    <div>
      @foreach (dynamic item in Model)
      {
        var isMe = item.authors[0].handle == author;
        <div class='course-block'>
          <div>
            @if (isMe)
            {
              @:<strong>
            }
            @(++num): "@item.title" by @item.authors[0].firstName @item.authors[0].lastName - @(item.courseRating.rating) by @(item.courseRating.numberOfRaters) raters
            @if (isMe)
            {
              @:</strong>
              }
          </div>
        </div>
      }
    </div>
  </div>
</body>
</html>
