@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@model BlogStory
@inject MannsBlog.Services.AdService _ads
@inject Microsoft.Extensions.Configuration.IConfiguration _config
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = $"{Model.Title} - Sascha Manns";
    ViewBag.PageImage = "/img/headers/code2.jpg";
    var pubDate = Model.DatePublished.AddHours(-4).ToString("MMM dd, yyyy");
    var wordCount = @Model.Body; // Get all content of the story
    var counts = wordCount.Count(ch => ch == ' ') + 1;
    var minutes = counts / 200; // Calculate Minutes
    var seconds = counts % 200 / (200 / 60); // Calculate Seconds
    var strMinutes = (minutes == 1) ? "Minute " : "Minutes ";
    var strSeconds = (seconds == 1) ? "Second " : "Seconds ";

    string imgsrc = String.Empty;
    string imgid = String.Empty;

    if (Model.Categories.Contains("Development"))
    {
        imgsrc = "https://raw.githubusercontent.com/Gapur/Gapur/master/coding.gif";
        imgid = "developmentstory";
    }
    if ((Model.Categories.Contains("Opensource")))
    {
        imgsrc = "/img/markers/opensource.png";
        imgid = "opensourcestory";

    }
    if (Model.Categories.Contains("Linux"))
    {
        imgsrc = "/img/markers/tux.png";
        imgid = "linuxstory";
    }
    if (Model.Categories.Contains("Windows"))
    {
        imgsrc = "/img/markers/Windows-10.png";
        imgid = "winstory";
    }
    if (Model.Categories.Contains("C-Sharp"))
    {
        imgsrc = "/img/markers/c-sharp.png";
        imgid = "csharpstory";
    }
    if (Model.Categories.Contains("Insider"))
    {
        imgsrc = "/img/markers/win-insider.png";
        imgid = "insiderstory";
    }
}
<div class="p-2">
    @*Header*@
    <div class="card post-card">
        <div class="row card-body">
            <h2 class="story-title">@Model.Title</h2>
            <div class="col">
                <!-- @Model.Id -->
                <hr />
                <p class="post-meta">
                    <i class="fas fa-pencil"></i>
                    Sascha Manns<br />
                    <i class="fas fa-clock"></i>
                    @minutes @strMinutes @seconds @strSeconds <br />
                    <i class="fas fa-calendar"></i>
                    @pubDate<br />
                    <i class="fas fa-tags"></i>
                    @foreach (var tag in Model.Categories.Split(','))
                    {
                        <a asp-controller="Tag" asp-action="Index" asp-route-tag="@tag">@tag</a>
                    }
                    <br /><i class="fas fa-comments"></i> <span class="disqus-comment-count" data-disqus-identifier="@Model.UniqueId">@_localizer["comments"]</span>.
                </p>
            </div>
            <div class="col">
                <img class="card-img-top" id="@imgid" src="@imgsrc" alt="Post Image" />
            </div>
        </div>

    </div>
    <div class="post-card">
        @Html.Raw(Model.Body)
    </div>
    <div class="card">
        <div class="pull-left" style="padding-right: 5px;">
            <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en">
                <img alt="Creative Commons License" class="" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
            </a>
        </div>
        <div class="card-text">
            <small>
                This work by <a xmlns:cc="https://creativecommons.org/ns#" href="https://saschamanns.de" property="cc:attributionName" rel="cc:attributionURL">Sascha Manns</a> is
                licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en">Attribution-ShareAlike 3.0 Germany License (CC BY-SA 3.0 DE)</a>. @_localizer["card-work"] <a xmlns:dct="https://purl.org/dc/terms/" href="https://saschamanns.de" rel="dct:source">saschamanns.de</a>.
            </small>
        </div>
    </div>
    <hr />
    <div data-type="xing/share" data-counter="right" @_localizer["xing-lang"]></div>
    <div class="ad-container">
        @_ads.InlineAdd()
    </div>
    <hr />
    <div id="disqus_thread"></div>
</div>
@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism-coy.min.css" />
    @*<link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shCore.css" />
        <link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shThemeDefault.css" />*@
}
@section Scripts {
    <script>
    var disqus_config = function () {
      this.page.url = "@("https://saschamanns.de/" + Model.GetStoryUrl())";
      this.page.identifier = "@Model.UniqueId";
    };

    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//@(_config["Disqus:BlogName"]).disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>@_localizer["disqus"] <a href="https://disqus.com/?ref_noscript" rel="nofollow">@_localizer["disqus1"]</a></noscript>
    <script>
        ; (function (d, s) {
            var x = d.createElement(s),
                s = d.getElementsByTagName(s)[0];
            x.src = "https://www.xing-share.com/plugins/share.js";
            s.parentNode.insertBefore(x, s);
        })(document, "script");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/autoloader/prism-autoloader.min.js"></script>
}
