@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/customer-testimonials-hero.jpg";
}
@inject IConfiguration _config
@inject MannsBlog.Services.DataProviders.TestimonialsProvider _tests
@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Testimonials.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Testimonials.min.css" />
    </environment>
    <style>

        .container {
            margin-top: 30px;
        }

        .control-container {
            background-color: #adb5bd;
            height: 500px;
            margin: 0 auto;
            width: 700px;
        }

        .e-carousel .slide-content {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            height: 100%;
            justify-content: center;
        }
    </style>
}
@section scripts {
    <environment exclude="Development">
    </environment>
    <environment include="Production,Staging">
    </environment>

}

<h1>@_localizer["viewbag-pagename"]</h1>
<h2>@_localizer["tests"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-offset2 col-md-8">
            <div class="control-container">
                <ejs-carousel id="defaultCarousel" animationEffect="Fade">
                    <e-carousel-items>
                        @foreach (var testimonial in _tests.Get())
                        {
                            <e-carousel-item template='<div class="testimonial">
                        <div class="pic">
                            <img src="@testimonial.ImagePath" alt="">
                        </div>
                        <p class="description">
                            @testimonial.Blurp
                        </p>
                        <h3 class="title">
                            @testimonial.Recommender
                            <span class="post"> - @testimonial.RecommenderJob, @testimonial.RecommenderLocation</span>
                        </h3>
                    </div>'></e-carousel-item>
                        }
                    </e-carousel-items>
                </ejs-carousel>
            </div>
        </div>
    </div>
</div>