@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/customer-testimonials-hero.jpg";
}
@inject IConfiguration _config
@inject MannsBlog.Services.DataProviders.TestimonialsProvider _tests
@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Testimonials.css" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Testimonials.min.css" />
    </environment>
    <style>

        .container {
            margin-top: 30px;
        }

        .control-container {
            background-color: #adb5bd;
            height: 500px;
            margin: 0 auto;
            width: 700px;
        }

        .e-carousel .slide-content {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            height: 100%;
            justify-content: center;
        }
    </style>
}
@section scripts {
    <environment exclude="Development">
    </environment>
    <environment include="Production,Staging">
    </environment>

}

<h1>@_localizer["viewbag-pagename"]</h1>
<h2>@_localizer["tests"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-offset2 col-md-8">
            <div class="control-container">
                <ejs-carousel id="defaultCarousel" animationEffect="Fade">
                    <e-carousel-items>
                        @foreach (var testimonial in _tests.Get())
                        {
                            <e-carousel-item template='<div class="testimonial">
                        <div class="pic">
                            <img src="@testimonial.ImagePath" alt="">
                        </div>
                        <p class="description">
                            @testimonial.Blurp
                        </p>
                        <h3 class="title">
                            @testimonial.Recommender
                            <span class="post"> - @testimonial.RecommenderJob, @testimonial.RecommenderLocation</span>
                        </h3>
                    </div>'></e-carousel-item>
                        }
                    </e-carousel-items>
                </ejs-carousel>
            </div>
        </div>
    </div>
</div>