@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@model MannsBlog.Services.DataProviders.PodcastEpisode
@using MannsBlog.Services.DataProviders
<div class="">
  @if (Model.Status == PodcastEpisodeStatus.Planned || (Model.Status == PodcastEpisodeStatus.Live && Model.PublishedDate.AddHours(14) > DateTime.UtcNow))
  {
    <div class="w-full text-center">
      <div><img src="@Model.GuestHeadshot" class="headshot" alt="@Model.GuestName" /></div>
      <div>
        <div>@Model.GuestName</div>
        <div>
          <small>@Model.PublishedDate.ToString("d")</small>
        </div>
      </div>
    </div>
  }
  else
  {
    <a asp-controller="Podcast" asp-action="Episode" asp-route-id="@Model.EpisodeNumber" asp-route-tag="@Model.GuestName.Replace(" ", "-")">
      <div class="w-full text-center">
        <div><img src="@Model.GuestHeadshot" class="headshot" alt="@Model.GuestName" /></div>
        <div>
          <div>@Model.GuestName</div>
          <div>
            <small>@Model.PublishedDate.ToString("d")</small>
          </div>
        </div>
      </div>
    </a>
  }
</div>
