@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@model IEnumerable<MannsBlog.Services.DataProviders.Talk>
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";

    var culture = CultureInfo.CurrentCulture.Name;
    string videotarget = String.Empty;
    videotarget = culture == "de-DE" ? "talk-de" : "talk";

    bool isDevelopment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development";
    string cleanedtarget = String.Empty;
    if (isDevelopment)
    {
        cleanedtarget = videotarget + ".js";
    }
    else
    {
        cleanedtarget = videotarget + ".min.js";
    }
}
@inject IConfiguration _config
@section styles {
    <environment names="Development">
    </environment>
    <environment names="Production,Staging">

    </environment>
}
@section scripts {
    <environment names="Development">
        <script src="~/js/@cleanedtarget"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/js/@cleanedtarget"></script>
    </environment>

}
<div class="row">
    <p>@_localizer["slides"]:</p>
    @foreach (var t in Model)
    {
        <div tabindex="0" class="e-card" id="@t.Id">
            <div class="card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title font-gray" class="margin-top: -40px;"><h4 class="font-gray">@t.Title</h4></div>
                </div>
            </div>
            <div class="e-card-content">
                <div class="card-text font-gray"><small>@_localizer["held"]: @t.Date.ToString("D") on @t.Where</small></div>
                <p class="card-text font-gray">@t.Blurp</p>
                <div class="collapse" id="talk-@t.Id">
                    <iframe src="@t.Link" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe><div style="margin-bottom:5px"> <strong> <a href="@t.Link" title="@t.Title" target="_blank">@t.Title</a> </strong> von <strong><a href="https://www.slideshare.net/saigkill" target="_blank">Sascha Manns</a></strong> </div>
                </div>
                <div class="e-card-actions">
                    <button class="btn btn-primary pull-right talk-toggle" data-id="@t.Id">@_localizer["show-talk"]</button>
                </div>
            </div>
        </div>
    }
</div>

