@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@model IEnumerable<MannsBlog.Services.DataProviders.Talk>
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";

    var culture = CultureInfo.CurrentCulture.Name;
    string videotarget = String.Empty;
    videotarget = culture == "de-DE" ? "talk-de" : "talk";

    bool isDevelopment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development";
    string cleanedtarget = String.Empty;
    if (isDevelopment)
    {
        cleanedtarget = videotarget + ".js";
    }
    else
    {
        cleanedtarget = videotarget + ".min.js";
    }
}
@inject IConfiguration _config
@section styles {
    <environment names="Development">
    </environment>
    <environment names="Production,Staging">

    </environment>
}
@section scripts {
    <environment names="Development">
        <script src="~/js/@cleanedtarget"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/js/@cleanedtarget"></script>
    </environment>

}
<div class="row">
    <p>@_localizer["slides"]:</p>
    @foreach (var t in Model)
    {
        <div tabindex="0" class="e-card" id="basic">
            <div class="card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title" class="margin-top: -40px;"><h4>@t.Title</h4></div>
                </div>
            </div>
            <div class="e-card-content">
                <div class="card-text"><small>@_localizer["held"]: @t.Date.ToString("D") on @t.Where</small></div>
                <p class="card-text">@t.Blurp</p>
                <div class="collapse" id="talk-@t.Id">
                    <iframe src="@t.Link" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe><div style="margin-bottom:5px"> <strong> <a href="@t.Link" title="@t.Title" target="_blank">@t.Title</a> </strong> von <strong><a href="https://www.slideshare.net/saigkill" target="_blank">Sascha Manns</a></strong> </div>
                </div>
                <div class="e-card-actions">
                    <button class="btn btn-outline-primary pull-right talk-toggle" data-id="@t.Id">@_localizer["show-talk"]</button>
                </div>
            </div>
        </div>
    }
</div>

