@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@inject Microsoft.Extensions.Configuration.IConfiguration _config
@inject MannsBlog.Services.AdService _ads
@{

    var keywords = _config["BlogKeywords"];
    var description = _config["BlogDescription"];

    var culture = CultureInfo.CurrentCulture.Name;
    var htmllang = culture.Split('-');
    var finallang = htmllang[0];

    var typittarget = String.Empty;

    if (culture == "de-DE")
    {
        typittarget = "typeit-de";
    }
    else
    {
        typittarget = "typeit";
    }

    var typeittargetdev = typittarget + ".js";
    var typeittargetprod = typittarget + ".min.js";

    var blog = _config["Blog:BlogName"];
    var url = _config["Blog:HTTPSUrl"];
    var name = _config["Blog:UserFirstname"] + " " + _config["Blog:UserSurname"];
    var em = _config["Blog:Email"];
    char at = '@';
    string at1 = at.ToString();
    int idx = em.IndexOf(at1);
    string email = em.Insert(idx, at1);
    string syncVersion = _config["Syncfusion:Version"];
    string syncStyle = "https://cdn.syncfusion.com/ej2/" + syncVersion + "/bootstrap5.css";
    string syncScript = "https://cdn.syncfusion.com/ej2/" + syncVersion + "/dist/ej2.min.js";
}
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="@finallang">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="publisher" name='article:publisher' content='@url' />
    <meta itemprop="description" name='description' content='@description' />
    <meta itemprop="keywords" name='keywords' content='@keywords' />
    <meta itemprop="author" name='author' content='@name' />
    <meta name='designer' content='@name' />
    <meta name='contact' content='@email' />
    <meta itemprop="copyrightHolder" name='copyright' content='Copyright (c) 2017 - @DateTime.Now.Year @_localizer["copyright"]' />
    <meta itemprop="copyrightYear" content="@DateTime.Now.Year" />
    <meta name="Distribution" content="global" />
    <meta itemprop="inLanguage" name="language" content="German, English" />
    <meta name="rating" content="General" />
    <meta name="Robots" content="index, all" />
    <meta name="Robots" content="index, follow" />
    <meta name="revisit-after" content="14 days" />
    <meta name="MSSmartTagsPreventParsing" content="True" />

    <meta content="@keywords" name="KEYWORDS" />
    <meta id="DescriptionMetaTag" content="@description" name="DESCRIPTION" />

    <!-- Site Verification Services (Google, Yandex, Bing-->
    <meta name='yandex-verification' content='dd2b44d7943d61b8' />
    <meta name='msvalidate.01' content='13161CB112E1782E7512360E04499E03' />
    <meta name='norton-safeweb-site-verification' content='94wloxobzmzcuvxt9m4jk4-fo-lcbzcm8q25a1gsfelmow6hj23omu76k9cjgd7qevr256-hz5x0bbdh-3gua6b2f7-rue7lubp4n76wzkm29s49yj-m2bbjlrhsqfyo' />
    <meta name='wot-verification' content='4342b071a6863eac12d4' />

    <!-- Dublin Core Tags -->
    <meta name="DC.Publisher" content="@name" />
    <meta name="DC.Language" content="de-DE" />
    <meta name="DC.Creator" content="@ViewBag.Title" />
    <meta name="DC.Type" content="Text" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Format.MIME" content="text/html" />
    <meta name="DC.Format.SysReq" content="Internet browser" />
    <meta name="DC.Source" content="@url">
    <meta name="DC.Coverage" content="World">
    <meta name="DC.Identifier" content="@url" />
    <meta name="DC.Subject" content="Allgemein" />
    <meta name="DC.Subject.Keyword" content="@keywords" />

    <!-- for Facebook -->
    <meta property="og:title" content="Sascha Manns's Twilight Zone" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@url/img/me/Sascha.jpg" />
    <meta property="og:description" content="@description" />
    <meta property="og:site_name" content="@ViewBag.Title" />
    <meta property="og:determiner" content="auto" />
    <meta property="og:locale" content="de-DE" />
    <meta property="og:url" content="@url" />
    <meta property="og:site_name" content="@ViewBag.Title" />
    <meta property="fb:app_id" content="225909907991067" />
    <meta property="og:website" content="@url" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@url/img/me/Sascha.jpg" />
    <meta name="twitter:creator" content="@("@saigkill") " />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="alternate" type="application/rss+xml" title="Standardfeed (en)" href="@url/feed" />
    <link rel="alternate" type="application/rss+xml" title="Standardfeed (de)" href="@url/feed-de" />
    <link rel="alternate" type="application/rss+xml" title="Opensource (de)" href="@url/opensource-de" />
    <link rel="alternate" type="application/rss+xml" title="Opensource (en)" href="@url/opensource" />
    <link rel="alternate" type="application/rss+xml" title="Linux (All Langs)" href="@url/linux" />
    <link rel="alternate" type="application/rss+xml" title="Windows (All Langs)" href="@url/windows" />
    <link rel="alternate" type="application/rss+xml" title="Dotnet Core (All Langs)" href="@url/dotnetcore" />

    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link href="~/lib/bootstrap-dark-5/dist/css/bootstrap-nightshade.css" rel="stylesheet" />
        <link href="~/lib/tether/dist/css/tether.css" rel="stylesheet" />
        <link href="~/css/bootstrap-dark-syncfusion/bootstrap5-dark.css" rel="stylesheet" />
        <link href="~/css/clean-blog.css" rel="stylesheet" />
        <link href="~/lib/cookieconsent/build/cookieconsent.min.css" rel="stylesheet" />
        <link href="~/lib/highlight.js/styles/default.css" rel="stylesheet" />
        <link href="~/css/fonts.css" rel="stylesheet" />
        <!-- Syncfusion Essential JS 2 Styles -->
        <link rel="stylesheet" href="@syncStyle" />
        <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        @RenderSection("Styles", required: false)
    </environment>
    <environment exclude="Development">
        @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
        <link href="~/lib/bootstrap-dark-5/dist/css/bootstrap-nightshade.min.css" rel="stylesheet" />
        <link href="~/lib/tether/dist/css/tether.min.css" rel="stylesheet" />
        <link href="~/css/bootstrap-dark-syncfusion/bootstrap5-dark.min.css" rel="stylesheet" />
        <link href="~/css/clean-blog.min.css" rel="stylesheet" />
        <link href="~/lib/cookieconsent/build/cookieconsent.min.css" rel="stylesheet" />
        <link href="~/lib/highlight.js/styles/default.css" rel="stylesheet" />
        <link href="~/css/fonts.min.css" rel="stylesheet" />
        <!-- Syncfusion Essential JS 2 Styles -->
        <link rel="stylesheet" href="@syncStyle" />
        <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <link href="~/css/site.min.css" rel="stylesheet" />
        @RenderSection("Styles", required: false)
    </environment>

    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="@syncScript"></script>

    <partial name="_GoogleStructuredData" />

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="~/lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-inverse" style="background-color: rgba(1,71,130,1)">
        <a class="navbar-brand" asp-controller="Root" asp-action="Index">@blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#theMenu">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="theMenu">
            <partial name="_Menu" />
        </div>
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    @if (ViewBag.PageImage != null && !string.IsNullOrWhiteSpace(ViewBag.PageImage))
    {
        <header class="intro-header" style="background-image: url('@ViewBag.PageImage'); height: 400px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xl-12">
                        <div itemprop="headline" class="site-heading">
                            <h2>@ViewBag.PageName</h2>
                            @if (ViewBag.PageBlurb != null)
                            {
                                <hr class="small">
                                <span class="subheading">@ViewBag.PageBlurb</span>
                            }
                            @if (ViewBag.PageAttribution != null)
                            {
                                <span class="meta">@ViewBag.PageAttribution</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }
    else
    {
        <div class="row">&nbsp;</div>
    }

    <partial name="_CookieConsentPartial" />

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                @RenderBody()
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <partial name="_Sidebar" />
                @RenderSection("Sidebar", false)
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a rel="me" href="https://social.linux.pizza/@@saigkill" title="Mastodon">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/sascha.manns" title="Facebook">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/saigkill" title="Twitter">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com/sascha.manns" title="Instagram">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/saigkill/" title="LinkedIn">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.xing.com/profile/SaschaZyroslawKyrill_Manns/cv" title="XING">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/saigkill" title="GitHub">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://stackoverflow.com/users/7404985/sascha-manns" title="Stack Overflow">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://dev.to/saigkill" title="Dev.to Community">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-dev fa-stack-1x fa-inverse" title="saigkill's DEV Profile"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.reddit.com/user/saigkill" title="Reddit">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-reddit fa-stack-1x fa-inverse" title="Reddit Profile"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://profile.codersrank.io/user/saigkill" title="Codersrank">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fas fa-code fa-stack-1x fa-inverse" title="Codersrank Profile"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.amazon.de/-/e/B07J3CPKR1" title="Amazon Author Page">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-amazon fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://steamcommunity.com/id/saigkill/" title="Steam">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-steam fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.last.fm/user/illuminatus1979" title="Last.fm">
                                <span class="fa-stack fa-2x fa-hover-spin">
                                    <i class="fa-solid fa-circle fa-stack-1x"></i>
                                    <i class="fab fa-lastfm-square fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p itemprop="copyrightHolder" class="copyright text-muted">Copyright &copy; Sascha Manns 2017-@DateTime.UtcNow.Year</p>
                    <div>
                        @await Html.PartialAsync("_SelectedLanguagePartial")
                    </div>
                    <p>@_localizer["content"] <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener"><img src="~/img/supporters/Logo_CC_by_SA.png" alt="Creative Commons by ShareAlike Badge" width="75" height="26" /></a></p>
                    <p class="copyright text-primary">
                        @_localizer["built"] <a href="https://get.asp.net" target="_blank" rel="noopener">.NET 7</a>, <a href="https://blazor.net/" target="_blank" rel="noopener">Blazor/Razor</a>, <a href="https://github.com/aspnet/EntityFramework/" target="_blank" rel="noopener">Entity Framework Core 7</a>, <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener">TypeScript</a>, <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap 5</a>, <a href="https://www.syncfusion.com/aspnet-core-ui-controls" target="_blank" rel="noopener">Syncfusion ASP.NET Core UI Controls</a>, <a href="https://blazorbootstrap.com" target="_blank" rel="noopener">Blazor Bootstrap</a>, @_localizer["host"] <a href="http://azure.com/" target="_blank" rel="noopener">Azure</a>.
                    </p>
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                 src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                                 alt="CSS ist valide!" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @*<partial name="_Info" />*@


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/bootstrap-dark-5/dist/js/darkmode.js"></script>
        <script src="~/css/bootstrap-dark-syncfusion/bootstrap5-dark.css"></script>
        <script src="~/lib/typeit/dist/index.umd.js"></script>
        <script src="~/lib/vanilla-lazyload/dist/lazyload.js"></script>
        <script src="~/lib/highlight.js/lib/core.js"></script>
        <script src="~/lib/fortawesome/fontawesome-free/js/all.js"></script>
        <script src="~/lib/codersrank/activity/codersrank-activity.js"></script>
        <script src="~/lib/codersrank/education/codersrank-education.js"></script>
        <script src="~/lib/codersrank/portfolio/codersrank-portfolio.js"></script>
        <script src="~/lib/codersrank/skills-chart/codersrank-skills-chart.js"></script>
        <script src="~/lib/codersrank/summary/codersrank-summary.js"></script>
        <script src="~/lib/codersrank/work-experience/codersrank-work-experience.js"></script>
        <script src="~/js/clean-blog.js"></script>
        <script src="~/js/@typeittargetdev"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap-dark-5/dist/js/darkmode.min.js"></script>
        <script src="~/css/bootstrap-dark-syncfusion/bootstrap5-dark.min.css"></script>
        <script src="~/lib/typeit/dist/index.umd.js"></script>
        <script src="~/lib/vanilla-lazyload/dist/lazyload.min.js"></script>
        <script src="~/lib/highlight.js/lib/core.js"></script>
        <script src="~/lib/fortawesome/fontawesome-free/js/all.min.js"></script>
        <script src="~/lib/codersrank/activity/codersrank-activity.min.js"></script>
        <script src="~/lib/codersrank/education/codersrank-education.min.js"></script>
        <script src="~/lib/codersrank/portfolio/codersrank-portfolio.min.js"></script>
        <script src="~/lib/codersrank/skills-chart/codersrank-skills-chart.js"></script>
        <script src="~/lib/codersrank/summary/codersrank-summary.min.js"></script>
        <script src="~/lib/codersrank/work-experience/codersrank-work-experience.min.js"></script>
        <script src="~/js/clean-blog.min.js"></script>
        <script src="~/js/@typeittargetprod"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <!-- Clarity -->
        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
                t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "@(_config["Clarity:ApiKey"])");
        </script>

        <!-- Google -->
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "https://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("@(_config["Google:Analytics"])");
            pageTracker._initData();
            pageTracker._trackPageview();
        </script>
        <script id="dsq-count-scr" src="https://@(_config["Disqus:BlogName"]).disqus.com/count.js" async></script>
    </environment>
    <script src="~/lib/cookieconsent/build/cookieconsent.min.js"></script>
    <script>
        document.querySelector("#your-darkmode-button-id").onclick = function (e) {
            darkmode.toggleDarkMode();
        }
    </script>
    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
    @RenderSection("Scripts", required: false)
</body>
</html>
