@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    var ctrl = ViewContext.RouteData.Values["controller"] as string;
    #pragma warning disable 8600
    var action = (string)ViewContext.RouteData.Values["action"];
    #pragma warning restore 8600
    var isCurrent = new Func<string, string, string>((c, a) =>
    {
        if ((string.IsNullOrWhiteSpace(a) && c == ctrl) || (c == ctrl && a == action)) return "active";
        return "";
    });
}
<li class="nav-item"><a class="nav-link @isCurrent("Root", "Index")" asp-controller="Root" asp-action="Index" style="color: #eee">@_localizer["Home"]</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "About")" asp-controller="Root" asp-action="About" style="color: #eee">@_localizer["About"]</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "CurriculumVitae")" asp-controller="Root" asp-action="CurriculumVitae" style="color: #eee">Curriculum vitae</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "Testimonials")" asp-controller="Root" asp-action="Testimonials" style="color: #eee">@_localizer["Testimonials"]</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Videos", "")" asp-controller="Videos" asp-action="Index" style="color: #eee">Videos</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Talks", "")" asp-controller="Talks" asp-action="Index" style="color: #eee">@_localizer["Talks"]</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "Imprint")" asp-controller="Root" asp-action="Imprint" style="color: #eee">@_localizer["Imprint"]</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Root", "Privacy")" asp-controller="Root" asp-action="Privacy" style="color: #eee">@_localizer["Privacy"]</a></li>
<li class="nav-item"><a class="nav-link @isCurrent("Search", "")" asp-controller="Search" asp-action="Index" style="color: #eee">@_localizer["Search"]</a></li>
@*<li class="nav-item"><a class="nav-link @isCurrent("Root", "Contact")" asp-controller="Root" asp-action="Contact">Contact</a></li>*@
