@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    //DateTime startpoint = DateTime.Now;
    //int year = startpoint.Year; // 2015
    //int month = startpoint.Month; //12
    //int day = startpoint.Day; // 25
    //int hour = startpoint.Hour; // 10
    //int minute = startpoint.Minute; // 30
    //int second = startpoint.Second; // 45
    //int weekDay = (int)startpoint.DayOfWeek; // 5 due to Friday
    //bool lapYear = IsLeapYear(startpoint);
    //int x = 0;
    //if (lapYear)
    //{
    //    x = 366;
    //}
    //else
    //{
    //    x = 365;
    //}

    //int starDate = 1000 * (year + 1 / second * ((x - 1 + hour) / (24 + minute) / 1440) - 2323);

    //bool IsLeapYear(DateTime dt)
    //{
    //    bool mod4 = dt.Year % 4 == 0;
    //    bool mod100 = dt.Year % 100 == 0;
    //    bool mod400 = dt.Year % 400 == 0;

    //    return (mod4 && (!mod100 || mod400));
    //}
}

<div class="col-lg-12">
    <div class="center-align">
        <a asp-controller="Root" asp-action="About" class="text-xs-center"><img src="~/img/me/Sascha1.jpg" alt="Sascha" class="img-fluid img-thumbnail center-block" style="max-height: 200px;" /></a>
        <img src="~/img/badges/Manns-Pototzki_Wappen_korrigiert.png" alt="Wappen" class="img-fluid img-thumbnail center-block" width="150" height="200" />
    </div>
</div>
<div class="col-lg-12">
    <div class="text-xs-center center-text"><h3><strong>Sascha Manns</strong></h3></div>
    <div class="text-xs-center"><p id="replaceJobs"></p></div>
    @*<div class="text-xs-center">@_localizer["Stardate"]: @starDate</div>*@
    <ul class="list-inline  sidebar-icon-list text-xs-center">
        <li class="list-inline-item">
            <a rel="me" href="https://social.linux.pizza/@@saigkill" title="Mastodon">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.facebook.com/sascha.manns" title="Facebook">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-facebook-square fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/saigkill" title="Twitter">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://instagram.com/sascha.manns" title="Instagram">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/saigkill" title="LinkedIn">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.xing.com/profile/SaschaZyroslawKyrill_Manns/cv" title="XING">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/saigkill" title="GitHub">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://stackoverflow.com/users/7404985/sascha-manns" title="Stack Overflow">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://dev.to/saigkill" title="Dev.to Community">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-dev fa-stack-1x fa-inverse" title="saigkill's DEV Profile"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.reddit.com/user/saigkill" title="Reddit">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-reddit-square fa-stack-1x fa-inverse" title="Reddit Profile"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://profile.codersrank.io/user/saigkill" title="Codersrank">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fas fa-code fa-stack-1x fa-inverse" title="Codersrank Profile"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.amazon.de/-/e/B07J3CPKR1" title="Amazon Author Page">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-amazon fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://steamcommunity.com/id/saigkill/" title="Steam">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-steam fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.last.fm/user/illuminatus1979" title="Last.fm">
                <span class="fa-stack fa-2x fa-hover-spin">
                    <i class="fa-solid fa-square fa-stack-1x"></i>
                    <i class="fab fa-lastfm-square fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>
    <hr />
    <div class="center-wo-minimize">
        <div class="center-wo-minimize" id="gi" style="margin-top: 1em">
            <a href="https://www.gi.de" rel="noopener" target="_blank"><img id="gi" src="~/img/badges/mitglied.jpg" width="70%" alt="Gesellschaft für Informatik Logo" /></a>
        </div>
        <div class="center-wo-minimize" id="opensuse" style="margin-top: 1em">
            <a href="https://connect.opensuse.org/pg/profile/saigkill" target="_blank" rel="noopener"><img src="~/img/badges/memberbadge.png" width="70%" alt="openSUSE Logo" /></a>
        </div>
        <div class="center-wo-minimize" id="insider" style="margin-top: 1em">
            <a href="https://insider.windows.com" target="_blank" rel="noopener"><img src="~/img/markers/Insider.jpg" width="70%" alt="WIndows Insider Logo" /></a>
        </div>
    </div>
</div>
<hr />
<h3 class="center-align">@_localizer["Disclaimer"]</h3>
<p class="center-align">@_localizer["opinions"]</p>
<hr />
@* ReSharper disable once CSharpWarnings::CS8600 *@
@if (((string)ViewContext.RouteData.Values["controller"]) != "Search")
{
    <form id="searchForm" novalidate>
        <div class="input-group">
            <input type="text" class="form-control" id="search" value="@ViewBag.Term" required placeholder="@_localizer["Search"]" />
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </form>
}
<hr />
<partial name="_Feeds" />
<hr />
<partial name="_Syndication" />
<hr />
<div id="counter">
    <div class="center-align">
        <script language="JavaScript" src="https://www.besucherzaehler-kostenlos.de/js/counter.js.php?count=1&id=saschamanns.de&start=1000&design=2e"></script>
    </div>
</div>
<hr />
<div id="codersrank">
    <h3 style="text-align: center;">Codersrank</h3>
    <p><codersrank-summary username="saigkill"></codersrank-summary></p>
</div>
<hr />
<div id="stackoverflow">
    <h3 style="text-align: center;">Stackoverflow</h3>
    <div class="center-align">
        <p><a href="https://stackoverflow.com/users/7404985/sascha-manns"><img alt="profile for saigkill at Stack Overflow, Q&amp;A for professional and enthusiast programmers" height="58" src="https://stackoverflow.com/users/flair/7404985.png?theme=dark" title="profile for saigkill at Stack Overflow, Q&amp;A for professional and enthusiast programmers" width="208" /></a></p>
    </div>
</div>
<hr />
<div id="codeproject">
    <h3 style="text-align: center;">Codeproject</h3>
    <div class="center-align">
        <p><iframe height="180" src="https://www.codeproject.com/members/flair/11834143" width="220" title="Codeproject Badge"></iframe></p>
    </div>
</div>